.pie-title {
	display: inline-block;
	margin: 0px 6px 15px !important;
	text-transform: uppercase;
	height: 20px;
	width: 70px;
	font-size: :12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.varnish-chart {
	height: 300px;
}

.varnish-add-stats {
	height: 100px;
}



#tooltipHitRatio {
    position: absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

#hitratio-historic-tooltip {
    position: absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}


#toTop
{
        width: 100px;
        border: 2px solid #f7f7f7;
        background: #f7f7f7;
        text-align: center;
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        color: #333;
        font-family: verdana;
        font-size: 11px;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;
        border-radius: 20px;
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
        padding: 5px;
}
#toTop:hover
{
        background: #b3b3b3;
        border: 2px solid #b3b3b3;
}

.vcl-active {
    background-color: #CFFCD7 !important;   
}

#vcl-textarea {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 500px;
}
#vcl-snippet {
    height: 200px;
}
